.footer {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 800px;
  background-image: url('./footer-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: 0.8;
}

.footer p {
  font-family: 'Instrument Serif', serif;
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  max-width: 800px;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}

.footer .hero-button {
  margin-top: 2rem;
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.footer .hero-button:hover {
  background-color: #0A446E;
  color: white;
  transform: translateY(-2px);
}

.icon-buttons {
  display: flex;
  gap: 1rem;
}

.icon-buttons a {
  color: white;
  font-size: 2rem;
  transition: color 0.3s;
}

.icon-buttons a:hover {
  color: #0A446E;
}

@media (max-width: 800px) {
  .footer p {
    font-size: 2rem;
  }
  
  .footer button {
    font-size: 0.9rem;
    padding: 0.8rem 1.6rem;
  }
}
