.main-container {
  width: 100%;
}

.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-work-section {
  position: relative;
  overflow: hidden;
}

.scroll-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: visible;
}

.extra-long-container {
  display: flex;
  align-items: center;
  padding: 0 5vw;
  will-change: transform;
}

.extra-long-container {
  gap: 30vw;
  display: flex;
  height: 60vh;
  align-items: center;
  position: relative;
  padding: 0 5vw;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  min-width: max-content;
}

.selected-work {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #FFFFFF;
  margin-left: 37vw;
  margin-right: 20vw;
  white-space: nowrap;
}

.card {
  flex: 0 0 auto;
  width: 582px;
  margin-right: 5vw;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02) translateY(-5px);
}

.card-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-name {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #FFFFFF;
  margin: 0;
}

.explore-work-button {
  bottom: 40px;
  left: 40px;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 9999px;
  font-size: 1rem;
  opacity: 0.8;
  font-family: poppins, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-work-button:hover {
  opacity: 1;
  transform: translateY(-2px);
}
