.construction-section {
  padding: 18rem 0;
  text-align: center;
}

.construction-content {
  max-width: 800px;
  margin: 0 auto;
}

.construction-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-box {
  scale: 1.2;
  position: relative;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.construction-background {
  width: 100%;
  height: auto;
  animation: rotate 20s linear infinite;
}

.construction-text-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.construction-heading {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.construction-message {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.construction-details {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 0.5rem 0;
}