@font-face {
    font-family: 'Tartlers End Krystal';
    src: url('../Assets/Fonts/Tartlers End Krystal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap'); 