:root {
  --text-serif: 'Instrument Serif', Times, serif;
}

body {
  background: linear-gradient(to bottom, #013E6A, #D0D5CE); /* Apply background to entire page */
  color: white;
  margin: 0;
  font-family: var(--text-serif);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
